@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Regular.ttf);
    
}

@font-face {
    font-family: PoppinsBold;
    src: url(/font/Poppins-Bold.ttf);
}
.garis {
    border-bottom: 2px solid #02315E;
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 40px;
  }

.banneratas{
    height: 40px;
    width: 100%;
    background-color: #02315E;
}


.container-fluid{
    height: 70px;
}

.navbar{
    font-family: "PoppinsBold";
    margin-bottom: 10px;
    width: 100%;
}

.nav-pills .nav-link.active{
    background-color: #02315E;
}

nav ul li{
    
    margin-top: 4%;
}

.navbar-brand>img{

    margin-left: 10%;
}

.nav-link{

    color: #02315E;
    font-size: 24px;
}

.show{

    display: flex !important;
}

.dropdown-toggle::after {
    content: none;
}

.nav-item .btn {

    font-size: 24px;
    padding: 9px 14px;
    border-color: #0d6efd;
}

.SpaceIsiAtas{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 3%;
}

.space_gambar{
    margin: 20px;
    padding-right: 10px;
}

.space_judul{
    margin: 20px 0 0 20px;
    font-family: "PoppinsBold";
}

.JudulAlam{
    font-size: 65px;
    color: #02315E;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#wisata{
    width: 90%;
    height: auto;
    margin-bottom: 5%;
    padding: 50px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px
    
}



.gambar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



#caption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}



#deskripsi h1{

    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #000000;
    
}

#deskripsi h3{

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 12px;
    color: #B2B2B2;
}

#deskripsi h4{

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

#deskripsi h3 #titik{
    color: #B2B2B2;
    margin: 0 5px 0 5px;
}


#deskripsi h4 #titik{
    color: #B2B2B2;
    margin: 0 5px 0 5px;
}

#deskripsi h5{
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    text-align: justify;
    color: #000000;

}

#tiket{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 20px 60px;
    justify-content: flex-start;
    height:initial;
}

#tiket #icon-ticket{
    width: 30px;
}

#tiket h2{
    color: #B2B2B2;
    font-weight: 600;
    font-size: 28px;
    margin:35px 0 10px 0;
    text-align: right;
    
}

#tiket h3{
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    text-align: right;
    margin:8px 0 5px 0;
}


#tiket h4{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    margin:5px 0 10px 0;
}

#tiket h5{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: right;
    margin:8px 0 10px 0;
}

#tiket h6{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: right;
    margin:8px 0 15px 0;
    color:#F92D2D;
}

.Lihatinfo{
    display: flex;
    justify-content: right;
}

.Lihatinfo .btn{
    font-weight: 300;
    font-size: 20px;
    color:#ffffff;
    background-color: #2F70AF;
    justify-content: right;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}

#review{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:100%;

}

.review-heading{
    font-size:25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.review-heading .kiri {
    font-size: 24px;
    font-weight: 600;
}

.review-heading .kanan {
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    color:#014C86;
}

.kotakreview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.kotakreview img{
    width: 49%;
    height: auto;
}

.footer{
    font-size: 14px;
    background-color: #1a1a1a;
    /* background-color: black; */
    padding: 10px;
    color: white;
    text-align: center;
    
}

.footer-text{

    display: flex;
    flex-direction: column;
}

.logo-bawah{

    height: 50px;
}

